@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');

Header {
    background-color: #F6D3E6;
}

h1 {
    margin-left: 60px;
    text-decoration: none;
    font-family: 'Bellefair';
    color: #D46F93;
}

.bisc-fotos-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.bisc-content {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    row-gap: 20px;
    column-gap: 40px;
}

.foto {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 0 20px 10px;
    color:#D46F93;
    font-size: 22px;
    font-family: 'Bellefair';
}

.foto:hover {
    transform: scale(1.02);
}

.banner-1 {
    background-image: url('https://i.pinimg.com/736x/64/70/2b/64702b19dc5efe5f22006b475cfe36c0.jpg');
}

.banner-2 {
    background-image: url('https://i.pinimg.com/564x/c5/23/57/c5235779f1bb9d00df423759a0e3307b.jpg');
}

.banner-3 {
    background-image: url('https://www.receiteria.com.br/wp-content/uploads/receitas-de-biscoito-de-goiabada-0.jpg');
}

.banner-4 {
    background-image: url('https://www.receiteria.com.br/wp-content/uploads/receitas-de-biscoito-de-goiabada-0.jpg');
}

@media(max-width: 768px) {
    .bisc-content {
        grid-template-columns: 1fr;
        margin-top: -30px;
        margin-bottom: 25px;
    }   
}