@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');

footer {
    height: 150px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

span {
    color: #D46F93;
    font-family: 'Bellefair';   
}

.footer-navigation {
    display: none;
}

.footer-list {
    display:flex;
    flex-direction: column;
    align-items: center;
}

@media(max-width: 768px) {
    .footer-navigation {
        display: block;
    }
}