.App {
  text-align: center;
}

.load {
    width: 110px;
    height: 20px;
    margin: 10px;
    cursor:pointer;
    border: none;
    border-radius: 2px;
    background: rgb(18, 30, 30);
    font-size: 10px;
    color: darkseagreen;
    font-family: fantasy
}

span {
  display: block;
  margin: 10px;
  font-size: 20px;
  font-family: fantasy;
  color: darkcyan;
  cursor:pointer;
  text-decoration: none;
}

.contador {
    width: 80px;
    height: 20px;
    margin: 10px;
    cursor:pointer;
    border: none;
    border-radius: 5px;
    background: burlywood;
    font-size: 10px;
    color: darkblue;
    font-family: fantasy
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #0f0f0f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.teste {
  font-size: 80px;
  color: yellowgreen;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
